<div class="container">
  <!-- imagens nessa div -->
  <div class="imagens_carro"></div>
  <!-- descricao nessa div -->
  <div class="descricao">
    <!-- titulo e logo do carro -->
    <div class="descricao_marca">
      <img src="" alt="Logo do carro" />
      <div class="descricao_marca_titulo">
        <h2>Nome do carro</h2>
        <p>Potencia</p>
      </div>
    </div>
    <!-- descricao tipo: cor/ ano/ combustivel etc -->
    <div class="descricao_detalhes">
      <div class="descricao_detalhes_ano">
        <h4>Ano</h4>
        <p><strong>Ano</strong></p>
      </div>
      <div class="descricao_detalhes_cor">
        <h4>Cor</h4>
        <p><strong>cor</strong></p>
      </div>
      <div class="descricao_detalhes_combustivel">
        <h4>Combustivel</h4>
        <p><strong>combustivel</strong></p>
      </div>
      <div class="descricao_detalhes_quilometragem">
        <h4>Quilometragem</h4>
        <p><strong>Quilometragem</strong></p>
      </div>
      <div class="descricao_detalhes_cambio">
        <h4>Câmbio</h4>
        <p><strong>Câmbio</strong></p>
      </div>
    </div>
    <!-- DESCRICAO MESMO DO VEICULO -->
    <div class="descricao_sobre">
      <h4>Descrição</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, dolore
        vitae! Quas quasi voluptas rerum ut debitis? Eveniet amet laudantium
        error, ipsam ad numquam, quas quasi laboriosam debitis, sapiente
        aliquid.
      </p>
    </div>
  </div>

  <!-- formulario de contato -->
  <div class="formulario_contato">
    <h2>Entre em contato</h2>
    <form action="" method="post">
      <div class="formulario_contato_inputs">
        <div class="formulario_contato_inputs_items">
          <label for="">
            <input type="text" name="" id="" placeholder="Nome" required />
          </label>
          <label for="">
            <input type="email" name="" id="" placeholder="E-mail" required />
          </label>
        </div>
        <div class="formulario_contato_inputs_items">
          <label for="">
            <input
              type="text"
              name=""
              id=""
              placeholder="CPF ou CNPJ"
              required
            />
          </label>
          <label for="">
            <input type="text" name="" id="" placeholder="Telefone" required />
          </label>
        </div>
        <div class="formulario_contato_textarea">
          <textarea name="" id="" placeholder="Escreva uma mensagem"></textarea>
        </div>
      </div>
      <button class="btn btn-primary">Enviar mensagem</button>
    </form>
  </div>
</div>
