<div class="container">
  <!-- imagens nessa div -->
  <div class="imagens_carro"></div>
  <!-- descricao nessa div -->
  <div class="descricao">
    <!-- titulo e logo do carro -->
    @for (item of getListCarrosId(); track item) {
    <div class="descricao_marca">
      <div class="descricao_marca_titulo">
        <p>{{ item.marca }}</p>
        <h2>{{ item.nome }} {{ item.ano }} {{ item.cor }}</h2>
        <p>{{ item.cilindradas }}</p>
      </div>
    </div>
    <!-- descricao tipo: cor/ ano/ combustivel etc -->
    <div class="descricao_detalhes">
      <div class="descricao_detalhes_ano">
        <h4>Ano</h4>
        <p>
          <strong>{{ item.ano }}</strong>
        </p>
      </div>
      <div class="descricao_detalhes_cor">
        <h4>Cor</h4>
        <p>
          <strong>{{ item.cor }}</strong>
        </p>
      </div>
      <div class="descricao_detalhes_combustivel">
        <h4>Combustivel</h4>
        <p>
          <strong>{{ item.combustivel }}</strong>
        </p>
      </div>
      <div class="descricao_detalhes_quilometragem">
        <h4>Quilometragem</h4>
        <p>
          <strong>{{ item.quilometragem | number : "1.1-2" }}</strong>
        </p>
      </div>
      <div class="descricao_detalhes_cambio">
        <h4>Câmbio</h4>
        <p>
          <strong>{{ item.cambio }}</strong>
        </p>
      </div>
      <div class="descricao_detalhes_cambio">
        <h4>Final da Placa</h4>
        <p>
          <strong>{{ item.finalDaPlaca }}</strong>
        </p>
      </div>
    </div>
    <!-- DESCRICAO MESMO DO VEICULO -->
    <div class="descricao_sobre">
      <h4>Descrição</h4>
      <p>
        {{ item.descricao }}
      </p>
    </div>
    }
  </div>

  <!-- formulario de contato -->
  <app-form-contatos />
</div>
