:host {
  .container {
    margin: auto;
  }
  .imagens_carro {
    width: 100%;
  }

  .descricao {
    display: flex;
    flex-direction: column;

    background: var(--white);
    padding: 30px;
    border-radius: 10px;

    & .descricao_marca {
      display: flex;
      align-items: center;
      gap: 50px;

      & .descricao_marca_titulo {
        display: flex;
        align-items: center;
        gap: 50px;

        font-family: "MontSerrat", sans-serif;
        text-transform: uppercase;
      }
    }

    & .descricao_detalhes {
      display: flex;
      gap: 30px;
      padding-top: 50px;
      box-sizing: border-box;

      & .descricao_detalhes_ano,
      & .descricao_detalhes_cor,
      & .descricao_detalhes_combustivel,
      & .descricao_detalhes_quilometragem,
      & .descricao_detalhes_cambio {
        & h4 {
          font-family: "Krona One", sans-serif;
          font-weight: 100;
          margin: 0;
        }

        & p {
          font-family: "MontSerrat", sans-serif;
          font-size: 20px;
        }
      }
    }

    & .descricao_sobre {
      & h4 {
        font-family: "Krona One", sans-serif;
      }

      & p {
        font-family: "MontSerrat", sans-serif;
      }
    }
  }

  @media screen and (min-width: 128px) and (max-width: 900px) {
    & .descricao {
      align-items: flex-start;
      & .descricao_detalhes {
        flex-direction: column;
      }
    }
  }
}
