.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;

  border: none;
  cursor: pointer;

  &.btn-primary {
    font-size: 16px;
    padding: 10px 50px;

    &:hover {
      background: var(--cambridge-blue);
      color: var(--rich-black);
    }
  }

  &.btn-primary {
    color: var(--white);
    background: var(--teal);
    font-weight: 500;
    font-family: "MontSerrat", sans-serif;
  }
}
