<header>
  <h3>Cadastro de Loja</h3>
  <button (click)="closeModal()">
    <img src="assets/icons/dialog/close.svg" alt="Botão para fechar o dialog" />
  </button>
</header>
@if(getData()?.id){
<mat-dialog-content>
  <form [formGroup]="lojaForm" (ngSubmit)="httpUpdateLoja()">
    <!-- Nome -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Digite o nome da loja"
        maxlength="255"
        required
        formControlName="nome"
      />
    </div>

    <!-- Endereço -->
    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input
        type="text"
        id="endereco"
        name="endereco"
        placeholder="Digite o endereço da loja"
        maxlength="255"
        required
        formControlName="endereco"
      />
    </div>

    <!-- Parceiros -->
    <div class="form-group">
      <label for="parceiros">Parceiros</label>
      <input
        type="text"
        id="parceiros"
        name="parceiros"
        placeholder="Digite os parceiros da loja"
        maxlength="255"
        required
        formControlName="parceiros"
      />
    </div>

    <!-- Botão de envio -->
    <button class="btn btn-primary" [disabled]="!lojaForm.valid">
      Editar Loja
    </button>
  </form>
</mat-dialog-content>
}@else {

<mat-dialog-content>
  <form [formGroup]="lojaForm" (ngSubmit)="httpCreateLoja()">
    <!-- Nome -->
    <div class="form-group">
      <label for="nome">Nome</label>
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Digite o nome da loja"
        maxlength="255"
        required
        formControlName="nome"
      />
    </div>

    <!-- Endereço -->
    <div class="form-group">
      <label for="endereco">Endereço</label>
      <input
        type="text"
        id="endereco"
        name="endereco"
        placeholder="Digite o endereço da loja"
        maxlength="255"
        required
        formControlName="endereco"
      />
    </div>

    <!-- Parceiros -->
    <div class="form-group">
      <label for="parceiros">Parceiros</label>
      <input
        type="text"
        id="parceiros"
        name="parceiros"
        placeholder="Digite os parceiros da loja"
        maxlength="255"
        required
        formControlName="parceiros"
      />
    </div>

    <!-- Botão de envio -->
    <button class="btn btn-primary" [disabled]="!lojaForm.valid">
      Cadastrar Loja
    </button>
  </form>
</mat-dialog-content>
}
