<header>
  <div
    class="header"
    (scroll)="onscroll()"
    [ngClass]="navbarFixed ? 'fixed' : 'nofixed'"
  >
    <div class="header_logo">
      <a class="header_logo_link" [routerLink]="['']"><h1>AutoHorizonte</h1></a>
    </div>
    <div class="header_navegacao_menu">
      <div class="header_navegacao_menu-hamburguer">
        <div class="menu">
          <input type="checkbox" id="checkbox-id" (change)="abrirMenu()" />
          <label for="checkbox-id">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      </div>
      <div class="header_navegacao" [ngClass]="{ menu_hamburguer: valorMenu }">
        <nav class="header_navegacao_nav">
          <ul class="header_navegacao_nav_ul">
            <li class="header_navegacao_nav_ul_item">
              <a
                [routerLink]="['/listagem-veiculos']"
                routerLinkActive="router-link-active"
                >Listagem de Veículos</a
              >
            </li>
            <li class="header_navegacao_nav_ul_item">
              <a [routerLink]="['/lojas']" routerLinkActive="router-link-active"
                >Lojas</a
              >
            </li>
            <li class="header_navegacao_nav_ul_item">
              <a
                [routerLink]="['/marcas']"
                routerLinkActive="router-link-active"
                >Marcas</a
              >
            </li>
            <li class="header_navegacao_nav_ul_item">
              <a
                [routerLink]="['/contatos']"
                routerLinkActive="router-link-active"
                >Contato</a
              >
            </li>
          </ul>
        </nav>
        <div class="header_opcoes">
          <ul class="header_opcoes_ul">
            <li class="header_opcoes_ul_item">
              <div class="header_opcoes_ul_item_img">
                <img
                  src="assets/icons/user-regular.svg"
                  alt="icone de usuario"
                />
              </div>
              <a href="#">Entrar</a>
            </li>
            <li class="header_opcoes_ul_item">
              <div class="header_opcoes_ul_item_img">
                <img
                  src="assets/icons/star-regular.svg"
                  alt="icone de favoritos"
                />
              </div>
              <a href="#">Favoritos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
