<footer>
  <div class="container">
    <div class="container_footer_links">
      <div class="container_footer_links_item">
        <div class="container_footer_links_item_titulo">
          <h1>AutoHorizonte</h1>
        </div>
        <div class="container_footer_links_item_nav">
          <ul>
            <li>
              <a href="#"
                ><img
                  src="assets/icons/instagram-brands-solid1.svg"
                  alt="Icone do instagram link"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="assets/icons/linkedin-in-brands-solid1.svg"
                  alt="Icone do linkedin link"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="container_footer_links_item">
        <div class="container_footer_links_item_titulo">
          <h3>Institucional</h3>
        </div>
        <div class="container_footer_links_item_link">
          <ul>
            <li><a href="">Quem somos</a></li>
            <li><a href="">Nossas lojas</a></li>
          </ul>
        </div>
      </div>
      <div class="container_footer_links_item">
        <div class="container_footer_links_item_titulo">
          <h3>Atendimento</h3>
        </div>
        <div class="container_footer_links_item_link">
          <ul>
            <li><a href="">Fale conosco</a></li>
            <li><a href="">Trabalhe conosco</a></li>
            <li><a href="">contato&#64;autohorizonte.com.br</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container_copy">
      <p>AutoHorizonte Copyright&copy;{{ date() | date : "yyy" }}</p>
    </div>
  </div>
</footer>
