<div class="formulario_contato">
  <h2>Entre em contato</h2>
  <form action="" method="post">
    <div class="formulario_contato_inputs">
      <div class="formulario_contato_inputs_items">
        <label for="">
          <input type="text" name="" id="" placeholder="Nome" required />
        </label>
        <label for="">
          <input type="email" name="" id="" placeholder="E-mail" required />
        </label>
      </div>
      <div class="formulario_contato_inputs_items">
        <label for="">
          <input type="text" name="" id="" placeholder="CPF ou CNPJ" required />
        </label>
        <label for="">
          <input type="text" name="" id="" placeholder="Telefone" required />
        </label>
      </div>
      <div class="formulario_contato_textarea">
        <textarea name="" id="" placeholder="Escreva uma mensagem"></textarea>
      </div>
    </div>
    <button class="btn btn-primary">Enviar mensagem</button>
  </form>
</div>
