<div class="container">
  <h2>Novos</h2>
  <div class="container_novos">
    @for (item of carrosNovos; track item) {
    <div class="card">
      <app-carousel [imagens]="imagens()" />
      <a [routerLink]="['/detalhes']" routerLinkActive="router-link-active">
        <div class="descricao_card">
          <div class="descricao_card_links">
            <div class="img_marca">
              <img src="assets/icons/car-solid.svg" alt="" />
            </div>
            <a class="botao" href="#">Ver parcelas</a>
          </div>
          <h2 class="titulo_carro">{{ item.nome }}</h2>
          <p class="descricao_card_carro">
            {{ item.quilometragem }} KM / cambio...
            {{ item.ano | date : "yyy" }}
          </p>
          <p class="preco">R$ {{ item.valor }}</p>
          <div class="descricao_card_lojas">
            <img
              src="assets/icons/location-dot-solid.svg"
              alt="Icone de localização"
            />
            <p class="loja">Disponível em {{ item.qtdLojas }} loja</p>
          </div>
        </div>
      </a>
    </div>
    }@empty {
    <div class="container_semCadastro">
      <i class="fa-solid fa-triangle-exclamation" style="color: #ec1313"></i>
      <p>Nenhum carro cadastrado.</p>
    </div>
    }
  </div>
  <h2>Seminovos</h2>
  <div class="container_semiNovos">
    <div class="card">
      <img src="" alt="" />
      <div class="descricao_card">
        <div class="descricao_card_links">
          <div class="img_marca">
            <img src="assets/icons/car-solid.svg" alt="" />
          </div>
          <a class="botao" href="#">Ver parcelas</a>
        </div>
        <h2 class="titulo_carro">HYUNDAI CRETA 1.6 16V tipo</h2>
        <p class="descricao_card_carro">89.260 KM / cambio... 2020/2021</p>
        <p class="preco">R$ 89.990</p>
        <div class="descricao_card_lojas">
          <img
            src="assets/icons/location-dot-solid.svg"
            alt="Icone de localização"
          />
          <p class="loja">Disponível em 1 loja</p>
        </div>
      </div>
    </div>
  </div>
</div>
