:root {
  --rich-black: #031926ff;
  --teal: #468189ff;
  --cambridge-blue: #77aca2;
  --ash-gray: #9dbebbff;

  --white: #ffff;

  --font-primary: "Krona One", sans-serif;
  --font-secondary: "MontSerrat", sans-serif;
}
